@font-face {
    font-family: shabnam;
    src: url('../../Assets/Fonts/Shabnam-Bold.woff2');
}
.continer{
    font-family: shabnam;
    @apply w-[1200px] mx-auto
}
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px 1px #111;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d7d7d7;
    box-shadow: inset 1px 1px 10px 1p #111;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }